.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}


label[data-v-03d950af] {
    font-size: small;
    font-weight: bold;
}


label[data-v-76fe429c] {
    font-size: small;
    font-weight: bold;
}

