.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}


label[data-v-587ebcef] {
    font-size: small;
    font-weight: bold;
}


label[data-v-838b47a8] {
    font-size: small;
}


label[data-v-6c35daeb] {
    font-size: small;
}


label[data-v-dfc5d642] {
    font-size: small;
    font-weight: bold;
}


label {
    font-size: small;
    font-weight: bold;
}


label[data-v-e00f3dda] {
    font-size: small;
}


label {
    font-size: small;
    font-weight: bold;
}

