
/*.table-hover > tbody > tr:hover {
    background-color: papayawhip;
}*/
.b-left[data-v-231df20e] {
    border-left: 3px solid orange;
}

/*@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';*/

[v-cloak] {
    display: none;
}

    [v-cloak]::before {
        content: "Loading, Please wait.";
    }

.border-sides {
    border-right: 1px solid #4E5D6C !important;
    border-left: 1px solid #4E5D6C !important;
    border-bottom: 1px solid #4E5D6C !important;
}


label[data-v-581181b6] {
    font-size: small;
    font-weight: bold;
}


label[data-v-0cf719b4] {
    font-size: small;
    font-weight: bold;
}

