<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toda App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />

    
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Toda App</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                @*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>*@


                <ul class="navbar-nav ml-auto flex-row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Nav Item - Messages -->
                        <li class="nav-item px-2 px-sm-0">
                            <form id="formLogout" action="~/Identity/Account/Logout" method="post">
                                <a href="javascript:document.getElementById('formLogout').submit()">
                                    <span class="fas fa-fw fa-sign-out-alt"></span>
                                    <span class="d-inline d-sm-inline-block">
                                        Logout
                                    </span>
                                </a>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-2">
                            <a href="~/Identity/Account/Login">
                                <span class="fas fa-fw fa-sign-in-alt"></span>
                                <span class="d-inline d-sm-inline-block">
                                    Login
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="~/Identity/Account/Register">
                                <span class="fas fa-fw fa-edit"></span>
                                <span class="d-inline d-sm-inline-block">
                                    Register
                                </span>
                            </a>
                        </li>
                    }
                </ul>



            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
